body {
  margin: 0;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  display: flex;
}

.div1 {
  background-color: rgb(255, 0, 157);
  width: 50%;
}
.div2 {
  display: flex;
  background-color: rgb(22, 24, 28);
  width: 50%;
  // align-items: flex-start;
  // justify-content: left;
}
.div2Son {
  color: white;
  margin-top: 50px;
  margin-left: 80px;
}
