.menuItem {
  min-width: 30%;
  max-width: 50%;
  height: 300px;
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: 1px solid black;
  margin: 5px 7.5px 15px;

  &:first-child {
    margin-right: 70px;
    margin-left: 7.5px;
  }
}
