#Button-card {
  background-color: white;
  border: none;
  color: grey;
  margin-right: 20px;

  &:hover {
    background-color: rgb(216, 216, 216);
  }
}

#Style-img {
  border-radius: 50%;
  margin-right: 5px;
}

#Menu-item-card {
  margin-bottom: 20px;
}
